USE [master]
GO
/****** Object:  Database [Angajati]    Script Date: 5/17/2018 12:26:50 AM ******/
CREATE DATABASE [Angajati]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Angajati', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Angajati.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Angajati_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Angajati_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Angajati].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Angajati]
GO
USE [Angajati]
GO
/****** Object:  Table [dbo].[Angajatii]    Script Date: 5/17/2018 12:26:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Angajatii](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nchar](10) NULL,
	[Prenume] [nchar](10) NULL,
	[CNP] [nchar](13) NULL,
	[Functie] [nchar](10) NULL,
	[Salariu] [nchar](6) NULL,
	[Proiect] [nchar](10) NULL,
 CONSTRAINT [PK_Angajatii] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[People_Insert]    Script Date: 5/17/2018 12:26:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[People_Insert]
	@nume varchar(50),
	@prenume varchar(50),
	@functie varchar(50),
	@salariu varchar(50),
	@proiect varchar(50)
	AS
BEGIN
	SET NOCOUNT ON;

	insert into dbo.Angajati(Nume,Prenume,Functie,Salariu,Proiect)
	values (@nume,@prenume,@functie,@salariu,@proiect);
  END
GO
USE [master]
GO
